.outfit{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.fa-brands{
    font-size: 18px;
}
i{
    margin: 0px 10px 15px 20px;
}
.point{
    list-style-type: none;
}
#CONTAINER{
    border: 2px solid black; /*border*/
    margin: auto;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
    transition: 500ms linear;
}
.SUBC1{ 
    /*border: 4px solid red; /*border*/
    background: rgb(133, 133, 133);
    width: 45%;
    height: auto;
    justify-items: center;
}
.SUBC2{
    /*border: 4px solid red; /*border*/
    width: 55%;
    height: auto;
    justify-items: center;
}
.PIC_NAME{
    /*border: 4px solid red; /*border*/
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.PICTURE, img{
    /*border: 2px solid red; /*border*/
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
@media (hover: hover){
    .PICTURE:hover{
    transform: scale(0.9);
    background-color: black;
}}
img{
    /*border: 2px solid red; /*border*/
    margin: auto;
    display: block;
}
@media (hover: hover){
    img:hover{
    opacity: 50%;
}}
.NAME{
    /*border: 2px solid red; /*border*/
    text-align: center;
    margin: auto;
}
.INTRO, .CONTENT{
    /*border: 2px solid red; /*border*/
    width: 85%;
    margin-bottom: 20px;
}
h1,h2,h3,h4,li,p{
    font-family: Outfit;
    font-weight: 300;
    /*border: 2px solid goldenrod; /*border*/
}
@media screen and (max-width: 750px){
#CONTAINER{
    width: 95%;
    display: flex;
    flex-direction:column;
}
.SUBC1{
    width: 100%;
    height: 55%;
    background: none;
}
.SUBC2{
    width: 100%;
    height: 45%;
}}
